<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>JPBX o seu PBX IP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Site de PBX IP" />
    <meta name="author" content="jefaokpta@hotmail.com" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">JPBX</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">Conheça</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Facilidades</a></li>
                <li class="nav-item"><a class="nav-link" href="#develop">Desenvolvimento</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">O seu PBX IP definitivo!</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Conheça um sistema de PBX IP como você nunca viu!</p>
                <a class="btn btn-primary btn-xl" href="#about">Conheça</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Todas as Funções do seu antigo PABX com muito mais!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Cadeado, Desvio, Não Perturbe, Transferência, Captura, Rechamada, Código de Conta... Tudo que seu antigo sistema fazia, mas com inumeras possibilidades como: Ramais e Troncos ilimitados, Poderoso roteamento de ligações, Ramais Remotos, Intercalação...</p>
                <a class="btn btn-light btn-xl" href="#services">Facilidades</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Todas as ferramentas que voçê precisa</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-telephone-forward fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Ramal SIP</h3>
                    <p class="text-muted mb-0">Também conhecido como ramal IP, utiliza o protocolo SIP que possibilita a "Voz sobre IP" (VOIP), ou seja, utilizar a telefonia usando sua estrutura de rede.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Webphone</h3>
                    <p class="text-muted mb-0">Todas as facilidades do ramal SIP mas sem a necessidade de um aparelho físico ou softphone!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-pci-card fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Ramal Virtual</h3>
                    <p class="text-muted mb-0">O JPBX monitora/interage com ramais que estão em equipamentos de terceiros como se fosse próprio. Podem ser portas analógicas em placas (DiGIUM, KHOMP, ALIGERA), ou ramais em um PABX legado (conectado ao JPBX via E1).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-coin fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Controle de Gastos</h3>
                    <p class="text-muted mb-0">Centro de Custos e relatórios detalhados te ajudam a descobrir o perfil da sua empresa, identifique para onde sua empresa mais liga e assim obtenha formas de redução de custos, conte o nosso poderoso roteamento de ligações e utilize rotas de menor custo.</p>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-key fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Código de Conta</h3>
                    <p class="text-muted mb-0">Uma facilidade avançada em PABXs legados que permite a ligação ser efetuada mediante a uma autenticação (PIN) do usuário no momento da ligação.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-building fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Multi Tenant</h3>
                    <p class="text-muted mb-0">Suporte a gestão de mais de uma empresa no mesmo servidor! Todas as facilidades isoladas para cada empresa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-database fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Consulta BDO</h3>
                    <p class="text-muted mb-0">Suporte a Consulta a BDO (Banco de Dados Operadoras). Umas das funções mais importantes para se obter rotas de menor custo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-filetype-xls fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">B.I.</h3>
                    <p class="text-muted mb-0">Exporte os dados (XLS ou CSV) para manipular externamente como desejar. Descubra o perfil das suas ligações, que tipo de ligações sua empresa mais faz. Com estas informações monte seu plano de redução de custos.</p>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-cassette fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Correio de Voz</h3>
                    <p class="text-muted mb-0">Não está disponível no seu ramal? Não se preocupe, você será informado por email de quem te ligou com a mensagem de audio anexada.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-filetype-pdf fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Fax Virtual</h3>
                    <p class="text-muted mb-0">Sistema de fax simples de utilizar. Envie Fax sem levantar da cadeira e receba sem a necessidade de aparelho de Fax e sem papel!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-lock fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Protegido Contra Invasões</h3>
                    <p class="text-muted mb-0">Sistema de permisssão de IPs. Com ele vc definirá quais IPs ou redes serão permitidos registrar seus ramais, inibindo assim o uso indevido dos seus ramais.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-people fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Conferências</h3>
                    <p class="text-muted mb-0">Salas previamente determinadas protegidas por senhas dinâmicas. Possui também salas desprotegidas caso necessário. Relatório de Conferências com gravação.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/ramais.png" title="Administração de Ramais">
                    <img class="img-fluid" src="assets/img/ramais.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Informações úteis sobre os ramais ativos. Numeração flexível. Criação de ramais em lote</div>
                        <div class="project-name">Administração de Ramais</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/tele.png" title="Telefonista Online">
                    <img class="img-fluid" src="assets/img/tele.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Mostra os estados dos ramais em tempo real. Chame o ramal que desejar com apenas um click.</div>
                        <div class="project-name">Telefonista Online</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/detraf.png" title="Relatório de DETRAF">
                    <img class="img-fluid" src="assets/img/detraf.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">(Declaração de Tráfego) Função indispensável para o uso como SBC (Session Border Controller)</div>
                        <div class="project-name">Relatório de DETRAF</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/relatorio.png" title="Relatório de Ligações">
                    <img class="img-fluid" src="assets/img/relatorio.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Relatório completo para controle total dos gastos da sua empresa com gráficos</div>
                        <div class="project-name">Relatório de Ligações</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/historico.png" title="Histórico das Ligações">
                    <img class="img-fluid" src="assets/img/historico.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Saiba por quais ramais a ligação passou, quem originou, quem transferiu, o que falou.

                        </div>
                        <div class="project-name">Histórico das Ligações</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/asr.png" title="Relatório de ASR">
                    <img class="img-fluid" src="assets/img/asr.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">(Answer Seizure Ratio) Taxa de completamento dos troncos.</div>
                        <div class="project-name">Relatório de ASR</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Call to action-->
<section class="page-section bg-dark text-white" id="develop">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Projeto JPBX</h2>
                    <hr class="divider" />
                    <p class="mb-5">O Sistema está em desenvolvimento desde 2013, seu lançamento se deu em 2014 com o patrocínio de parceiros que reconheceram seu potencial e está em constante evolução com cada vez mais funções.
                        Solicite uma avaliação e acesse: <a href="https://pbx.jpbx.com.br/jpbx" target="_blank">JPBX</a></p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <img class="rounded-circle img-fluid" src="assets/img/IMG_1538.jpeg" style="max-width: 40%; height: auto">
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h3 class="name">Jefferson Alves Reis</h3>
                    <p class="title">Programador</p>
                    <p class="description">Desenvolvimento de Sistemas no geral para área de Telecomunicações e VOIP, baseado em tecnologias Open Source, Asterisk, NodeJs, ShellScript, Java, Angular, etc. Veja meus projetos. </p>
                    <div class="d-flex justify-content-around">
                        <a href="https://github.com/jefaokpta" target="_blank"><i class="bi-github h3"></i></a>
                        <a href="https://t.me/jefaokpta" target="_blank"><i class="bi-telegram h3"></i></a>
                        <a href="https://www.linkedin.com/in/🤓-jefferson-alves-reis-00007361/" target="_blank"><i class="bi-linkedin h3"></i></a>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Ready to start your next project with us? Send us a messages and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                    <!-- Name input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" placeholder="Nome" required />
                    <label for="name">Nome</label>
                    <div class="text-center text-danger small" id="name-error"></div>
                </div>
                <!-- Email address input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="email" type="email" placeholder="email@exemplo.com.br" required />
                    <label for="email">Email</label>
                    <div class="text-center text-danger small" id="email-error"></div>
                </div>
                <!-- Message input-->
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" placeholder="Mensagem" type="text" style="height: 10rem" required></textarea>
                    <label for="message">Mensagem</label>
                    <div class="text-center text-danger small" id="message-error"></div>
                </div>
                <div class="alert alert-success" role="alert">
                    <div class="" id="submitSuccessMessage"><div class="text-center text-success mb-3">👍🏼 Obrigado pelo contato! Responderei o mais rápido possivel.</div></div>
                </div>
                <div class="alert alert-danger" role="alert">
                    <div class="" id="submitErrorMessage"><div class="text-center text-danger mb-3">🛑 Não foi possivel receber sua mensagem, por favor tente mais tarde.</div></div>
                </div>
                <!-- Submit Button-->
                <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" onclick="submit()">Enviar</button></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2024 - Criado com ❤️ por <a href="#develop">jefaokpta</a></div>
    </div>
</footer>
<script>
    function submit() {
        const name = document.getElementById('name').value
        if (name === '') {
            document.querySelector('#name-error').innerText = 'Nome obrigatório'
            return
        }
        const email = document.getElementById('email').value;
        if (email === '') {
            document.querySelector('#email-error').innerText = 'Email obrigatório'
            return
        }
        const message = document.getElementById('message').value;
        if (message === '') {
            document.querySelector('#message-error').innerText = 'Mensagem obrigatória'
            return
        }
        console.log(name, email, message);

        document.querySelector('#submitButton').classList.add('disabled');

        const formData = new FormData();
        formData.append('name', name);
        formData.append('email', email);
        formData.append('message', message);

        fetch('/api/new-message', {
            method: 'POST',
            body: formData
        }).then(response => {
            response.json().then(data => {
                console.log(data)
            })
        }).catch(error => {
            console.error('CAGOU', error)
        })

    }
</script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="assets/js/scripts.js"></script>
</body>
</html>