<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>JPBX o seu PBX IP</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
</head>
<body id="page-top">

<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">JPBX</a>
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">conheça</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio"><strong>SERVIÇOS</strong></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">FACILIDADES</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#team">SOBRE</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">CONTATO</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-center text-white d-flex" style="background-image:url('assets/img/header.jpg');">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>JPBX</strong></h1>
                <h1 class="text-uppercase"><strong>o seu PBXIP definitivo!</strong></h1>
                <hr>
            </div>
        </div>
        <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Conheça um sistema de PBX como você nunca viu!</p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#portfolio">DESCUBRA</a></div>
    </div>
</header>
<section id="about" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col offset-lg-8 mx-auto text-center">
                <h2 class="text-white section-heading">Todas as Funções do seu antigo PABX com muito mais!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Cadeado, Desvio, Não Perturbe, Transferência, Captura, Rechamada, Código de Conta... Tudo que seu antigo sistema fazia, mas com inumeras possibilidades como:&nbsp;Ramais e Troncos ilimitados, Poderoso roteamento de ligações,&nbsp;Ramais
                    Remotos, Intercalação...</p>
                <p class="text-faded mb-4">Descubra todas as suas funcionalidades e o quanto ele pode ser útil na sua empresa!</p><a class="btn btn-light btn-xl js-scroll-trigger" role="button" href="#services">FACILIDADES</a></div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Seja qual for seu segmento</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <a href="#" data-toggle="modal" data-target="#ramal">
                        <img src="assets/img/ramais.png" class="card-img-top" alt="Ramais">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Administração de Ramais</h5>
                        <p class="card-text text-muted">Informações úteis sobre os ramais ativos. Numeração flexível. Criação de ramais em lote.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <a href="#" data-toggle="modal" data-target="#tele">
                        <img src="assets/img/tele.png" class="card-img-top" alt="Telefonista">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Telefonista Online</h5>
                        <p class="card-text text-muted">Mostra os estados dos ramais em tempo real. Chame o ramal que desejar com apenas um click.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <a href="#" data-toggle="modal" data-target="#detraf">
                        <img src="assets/img/detraf.png" class="card-img-top" alt="Telefonista">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Relatório de DETRAF</h5>
                        <p class="card-text text-muted">(Declaração de Tráfego) Função indispensável para o uso como SBC (Session Border Controller).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <a href="#" data-toggle="modal" data-target="#rel">
                        <img src="assets/img/relatorio.png" class="card-img-top" alt="Ramais">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Relatório de Ligações</h5>
                        <p class="card-text text-muted">Relatório completo para controle total dos gastos da sua empresa com gráficos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <a href="#" data-toggle="modal" data-target="#history">
                        <img src="assets/img/historico.png" class="card-img-top" alt="Telefonista">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Histórico das Ligações</h5>
                        <p class="card-text text-muted">Saiba por quais ramais a ligação passou, quem originou, quem transferiu, o que falou.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <a href="#" data-toggle="modal" data-target="#asr">
                        <img src="assets/img/asr.png" class="card-img-top" alt="Telefonista">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Relatório de ASR</h5>
                        <p class="card-text text-muted">(Answer Seizure Ratio) Taxa de completamento dos troncos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Todas as ferramentas em suas mãos</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-volume-control-phone fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Ramal SIP</h3>
                    <p class="text-muted mb-0">Também conhecido como ramal IP, utiliza o protocolo SIP que possibilita a "Voz sobre IP" (VOIP), ou seja, utilizar a telefonia usando sua estrutura de rede.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-desktop fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Ramal WEB</h3>
                    <p class="text-muted mb-0">Todas as facilidades do SIP mas sem a necessidade de um aparelho físico ou softphone!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-server fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                    <h3 class="mb-3">Ramal Virtual</h3>
                    <p class="text-muted mb-0">O JPBX monitora/interage com ramais que estão em equipamentos de terceiros como se fosse próprio.&nbsp;Podem ser portas analógicas em placas (DiGIUM, KHOMP, ALIGERA), ou&nbsp;ramais em um PABX legado (conectado ao JPBX via E1).</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-money fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                    <h3 class="mb-3">Controle de Gastos</h3>
                    <p class="text-muted mb-0">Centro de Custos e relatórios detalhados te ajudam a descobrir o perfil da sua empresa, identifique para onde sua empresa mais liga e assim obtenha formas de redução de custos, conte o nosso poderoso roteamento de ligações e utilize
                        rotas de menor custo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-key fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Código de Conta</h3>
                    <p class="text-muted mb-0">Uma facilidade avançada em PABXs legados que permite a ligação ser efetuada mediante a uma autenticação (PIN) do usuário no momento da ligação.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-building-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Multi Empresas</h3>
                    <p class="text-muted mb-0">Suporte a gestão de mais de uma empresa no mesmo servidor! Todas as facilidades isoladas para cada empresa.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-database fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                    <h3 class="mb-3">Consulta BDO</h3>
                    <p class="text-muted mb-0">Suporte a Consulta a BDO (Banco de Dados Operadoras).&nbsp;Umas das funções mais importantes para se obter rotas de menor custo.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-search fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                    <h3 class="mb-3">Analise</h3>
                    <p class="text-muted mb-0">Exporte os dados (XLS ou CSV) para manipular externamente como desejar.&nbsp;Descubra o perfil das suas ligações, que tipo de ligações sua empresa mais faz.&nbsp;Com estas informações monte seu plano de redução de custos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-mail-forward fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Correio de Voz</h3>
                    <p class="text-muted mb-0">Não está disponível no seu ramal? Não se preocupe, você será informado por email de quem te ligou com a mensagem de audio anexada.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-file-text-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Fax Virtual</h3>
                    <p class="text-muted mb-0">Sistema de fax simples de utilizar. Envie Fax sem levantar da cadeira e receba sem a necessidade de aparelho de Fax e sem papel!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-lock fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                    <h3 class="mb-3">Protegido Contra Invasões</h3>
                    <p class="text-muted mb-0">Sistema de permisssão de IPs. Com ele vc definirá quais IPs ou redes serão permitidos registrar seus ramais, inibindo assim o uso indevido dos seus ramais.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-group fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                    <h3 class="mb-3">Conferências</h3>
                    <p class="text-muted mb-0">Salas previamente determinadas protegidas por senhas dinâmicas.&nbsp;Possui também salas desprotegidas caso necessário. Relatório de Conferências com gravação.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="team" class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Projeto JPBX</h2>
            <p class="text-center">
                O Sistema está em desenvolvimento desde 2013, seu lançamento se deu em 2014 com o patrocínio de parceiros que reconheceram seu potencial e está em constante evolução com cada vez mais funções.
                Solicite uma avaliação e acesse: <a href="https://pbx.jpbx.com.br/jpbx" target="_blank">JPBX</a>
            </p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item"></div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/IMG_1538.jpeg">
                <h3 class="name">Jefferson Alves Reis</h3>
                <p class="title">Programador</p>
                <p class="description">Desenvolvimento de Sistemas no geral para área de Telecomunicações e VOIP, baseado em tecnologias Open Source, Asterisk, Mysql, ShellScript, Java, Angular, etc. Veja meus projetos. </p>
                <div class="social">
                    <a href="https://github.com/jefaokpta" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://t.me/jefaokpta" target="_blank"><i class="fa fa-telegram"></i></a>
                    <a href="https://www.linkedin.com/in/🤓-jefferson-alves-reis-00007361/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="skype:jefaokpta"><i class="fa fa-skype"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item"></div>
        </div>
    </div>
</div>
<!-- formulario -->
<div id="contact" class="contact-clean">
    <form  >
        <h2 class="text-center">Contato para Projetos</h2>
        <div class="form-group">
            <input class="form-control" type="text"  placeholder="Nome">
            <small  class="form-text text-danger">Campo Obrigatório</small>
        </div>
        <div class="form-group">
            <input class="form-control" type="email"  placeholder="Email">
            <small   class="form-text text-danger">Email Inválido</small>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="14" placeholder="Mensagem"></textarea>
            <small  class="form-text text-danger">Campo Obrigatório</small>
        </div>
        <div class="form-group">
            <button class="btn" type="submit"  >Enviar</button>
            <img  src="assets/img/wait.gif" alt="loading" width="100px">
        </div>
        <div   class="alert alert-success" role="alert">
            Obrigado {{contactName}} pelo contato!
        </div>
        <div    class="alert alert-danger" role="alert">
            Ocorreu um erro. Por favor tente novamente.
        </div>
    </form>
</div>
<!-- formulario -->
<!-- Modal -->
<div id="ramal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="assets/img/ramais.png" width=100%>
        </div>
    </div>
</div>
<div id="tele" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="assets/img/tele.png" width=100%>
        </div>
    </div>
</div>
<div id="detraf" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="assets/img/detraf.png" width=100%>
        </div>
    </div>
</div>
<div id="rel" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="assets/img/relatorio.png" width=100%>
        </div>
    </div>
</div>
<div id="history" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="assets/img/historico.png" width=100%>
        </div>
    </div>
</div>
<div id="asr" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="assets/img/asr.png" width=100%>
        </div>
    </div>
</div>
<video hidden id="video-local"></video>
<video hidden id="video-remote"></video>
<audio hidden autoplay="autoplay" id="audio-remote"></audio>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
</body>
</html>